[Unit]
Description=Monitor Accessory Power

[Service]
Type=simple
ExecStart=python3 AccessoryPowerMonitor.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
